/*achtergrond*/
/*kleur van de achtergrond*/
body {
    background-color: #ffffff;
}

/*tekstkopjes*/
/*hoofdkopjes en paragraaf kleur, lettertype en tekst inspringing*/
h1 , h2 , h3, p {
    font-family:"Bahnschrift";
    text-indent: 10px;
    color: #000000;
}

h4 , h5{
    font-family: "Bahnschrift";
    text-indent: 10px;
    color: #ffffff;
}

/*paragraaf*/
/*tekstkleur zwart paragraaf*/
p {
    color: #000000
}

/*lijst*/
/*lijst (gebruikt bij menu) met marge tussen kopjes*/
li {
    display: inline;
    margin-left: 20px;
}
/*kleine letters in hoofdletters*/
ul li {font-variant: small-caps;}

/*hyperlink*/
/*hyperlink naar iets, schaduw en kleur*/
a { 
    color: #ffffff;
    text-decoration:none;
    text-shadow: 2xp 2xp 2xp #030303;
}
/*hyperlink met zwart als basiskleur*/
.hover2 { 
    color: #000000;
    text-decoration:none;
    text-shadow: 2xp 2xp 2xp #030303;
}

/*hover*/
/*hyperlink veranderd in andere kleur als de curser op het kopje staat*/
a:hover{
    color:#979797;
}

/*plaatjes*/
/*plaatjes met aangegeven waar het plaatje moet verschijnen*/
.img3{
    float:left;
}

.img4{
    float: left;
}

.imglogo2{
    float: left;
}

.imgstappen{
    align: center;
}

/*divisions*/
/*alle specificaties voor de verschillende delen van de website zoals: de kleur, hoogte en breedte, achtergrondkleur, 
marges naar een bepaalde kant, plaatsing van division en lettertype in deze divisie.*/
div{
    width:700px;
    height:100%;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    text-align: center;
    font-family:"Bahnschrift";
}

.div2{
    width:700px;
    height:100%;
    background-color: #575757;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    text-align:left;
    padding: 10px;
    padding-bottom: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

.divgrijs{
    width:700px;
    height:100%;
    background-color: #575757;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    text-align:left;
    padding: 10px;
}

.divgrijs2{
    width:700px;
    height:100%;
    background-color: #7a7a7a;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    text-align:center;
    padding: 10px;
}
